* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  background-color: #08090b;
  height: 100vh;
}

/* navbar design */
header {
  position: fixed;
  width: 100%;
  padding: 1rem;
}

.logo {
  height: 25px;
}

.navbar {
  height: 100%;
  width: 100%;
  /* background-color: #0e1524; */
}

.nav-container {
  width: 66rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-items a {
  text-decoration: none;
  color: lab(100 0 0);
  font-size: 1rem;
  padding: 4px 12px;
}

.nav-items a:hover {
  border: 1px solid #9b9898;
  border-radius: 8px;
}

.sales-button {
  font-size: 1rem;
  color: #f1eaea;
  background-color: transparent;
  border: none;
  border: 1px solid #5e5e5e;
  padding: 4.5px 12px;
  border-radius: 10px;
  cursor: pointer;
}

.subscribe {
  font-size: 1rem;
  padding: 4.5px 12px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  color: lab(2 -0.17 -0.47);
}

.subscribe:hover {
  background-color: #c0bcbc;
}

/* main section design starts */
/* hero section */
.hero-section {
  /* 
    background-image property needs a box to print, so we have to assign
    a height to this section.
  */
  background-image: url("./Images/bg-dark.svg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
