* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  background-color: #08090b;
  height: 100vh;
}

/* navbar design */
header {
  position: fixed;
  width: 100%;
  padding: 1rem;
  /* background: rgba(255, 255, 255, 0.1); */
}

.logo {
  height: 25px;
}

.navbar {
  height: 100%;
  width: 100%;
}

.nav-container {
  width: 67rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: 7rem;
}

.nav-items a {
  text-decoration: none;
  color: lab(100 0 0);
  font-size: 1rem;
  padding: 4px 12px;
}

.nav-items a:hover {
  border: 1px solid #9b9898;
  border-radius: 8px;
}

.sales-button {
  font-size: 1rem;
  color: #f1eaea;
  background-color: rgba(221, 219, 217, 0.16);
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: 2.5rem;
  cursor: pointer;
}

.subscribe {
  font-size: 1rem;
  padding: 4.5px 12px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  color: lab(2 -0.17 -0.47);
}

.subscribe:hover {
  background-color: #c0bcbc;
}

/* main section design starts */
/* hero section */
.hero-section {
  /* 
    background-image property needs a box to print, so we have to assign
    a height to this section.
  */
  background-image: url("./Images/bg-dark.svg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 7rem;
  width: 100%;
}

.hero-div {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 67rem;
  margin: 0 auto;
}

.hero-div a {
  background-color: rgba(221, 219, 217, 0.16);
  text-decoration: none;
  color: #d8d5d5;
  border-radius: 40px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hero-div span {
  background-color: lab(51.3415% -41.5657 15.3527);
  color: #f9f9f9;
  padding: 4px 8px;
  border-radius: 11px;
  font-size: 0.875rem;
}

.h-suggestion {
  font-size: 1rem;
}

.hero-div p::after {
  content: "→";
  background-color: #fff;
  margin-left: 0.5rem;
  padding: 2px 4px;
  color: #0a0a0a;
  border-radius: 50%;
  font-size: 0.8rem;
}

.hero-text {
  /* border: 1px solid red; */
  width: 100%;
  text-align: center;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text h1 {
  color: lab(100 0 0);
  font-size: 3.598rem;
  font-weight: 500;
  width: 37.5rem;
}

.hero-text h2 {
  color: lab(91.64% 0 -0.01);
  font-size: 1.2rem;
  width: 25rem;
  margin-top: 2rem;
  font-weight: 400;
  line-height: 1.5;
}

.hero-email-subs {
  background-color: rgba(221, 219, 217, 0.16);
  padding: 0.3rem;
  margin-top: 2rem;
  border-radius: 2.5rem;
}

.hero-email-subs > input {
  padding: 0 8px;
  color: lab(100 0 0);
  background: transparent;
  border: none;
  width: 18rem;
  outline: none;
  font-size: 1.2rem;
}

.hero-text form > input::placeholder {
  color: rgba(255, 255, 255, 0.622);
}

.hero-email-subs button {
  background: lab(100 0 0);
  color: #000000;
  padding: 9px 12px;
  font-size: 1rem;
  border-radius: 2.5rem;
}

.h-img img {
  border-radius: 20px;
}

/* brand CTA section */
.brand-cta {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 2rem 6rem;
}

.cta-grid-container {
  width: 67rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2.5rem;
  column-gap: 1rem;
}

.cta-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.9rem;
}

/* built section design */

.built-container {
  /* border: 1px solid red; */
  width: 67rem;
  margin: 0 auto;
}

.built-text-container {
  /* border: 1px solid yellow; */
  color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2rem;
  row-gap: 1rem;
}

.built-text-container h2 {
  font-size: 3rem;
  font-weight: 500;
}

.built-text-container p {
  color: lab(100% 0 0/0.7);
  width: 40.5rem;
  text-align: center;
  text-wrap: balance;
}

/* card design  */

.built-card-container {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.built-card-box-1 {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.build-card {
  border: 1px solid lab(100% 0 0/0.07);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-text {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  row-gap: 1rem;
}

.card-image {
  text-align: center;
  margin-top: auto;
}

.card-text p:first-child {
  color: lab(79.9844% -59.6292 22.5096);
  font-size: 0.813rem;
}

.card-text h3 {
  font-size: 1.6rem;
  font-weight: 400;
  color: lab(100% 0 0);
}

.card-text p:last-child {
  text-wrap: balance;
  color: lab(100% 0 0/0.7);
  line-height: 1.4;
}

.built-card-box-2 {
  /* border: 1px solid red; */
  padding: 1rem;
  border: 1px solid lab(100% 0 0/0.07);
  border-radius: 1rem;
}

.built-card-2-text {
  /* border: 1px solid yellow; */
  /* color: #f9f9f9; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  row-gap: 1rem;
}

.built-card-2-img {
  /* border: 1px solid rgb(242, 0, 255); */
  text-align: center;
}

.built-card-2-text p:first-child {
  color: lab(79.9844% -59.6292 22.5096);
  font-size: 0.813rem;
}

.built-card-2-text h4 {
  font-size: 1.6rem;
  font-weight: 400;
  color: lab(100% 0 0);
}

.built-card-2-text p:last-child {
  text-wrap: balance;
  color: lab(100% 0 0/0.7);
  line-height: 1.4;
  max-width: 40rem;
  text-align: center;
}
